 
          
.elemento {
    display: none;
}
.imagen {
    display: none;
    max-width: 400px;
    max-height: 400px;
}
.boton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: #168098;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}
.boton:hover {
    background-color: #1e77cf;
}

 